:root {
    --color-1: #F5F4F2;
    --color-2 :#1B2934;
    --color-3: #F05A39;
    --color-4: #9AD7D2;
    --color-5: #4C6375;
    --color-6: #282828;

    --br-0: 16px;
    --br-1: 12px;
    --br-2: 8px;
    --br-3: 32px;
    --br-4: 20px;

    --gradient-1 : linear-gradient(0deg, #141D25, #141d2500);

}
/* Спецификация */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HelveticaNeueCyr';
    font-size: 18px;
    background: var(--color-1);
}

ul,ol,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-2)
}

button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Angst Normal';
} 

h2 {
    font-size: 40px;
    font-weight: 400;
    color: var(--color-2);
    line-height: 40px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pos-r {
    position: relative;
}
.link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: var(--color-1);
    border-radius: var(--br-2);
    padding: 9px 20px;
    gap: 40px;
}

.orange {
    background: var(--color-3);
}

/* HEADER */
.header {
    position: relative;
}
/* TopPanel */
.topPanelPos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px;
}
.topPanel {
    background: var(--color-1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--br-0);
    padding: 8px 30px 8px 20px;
}
.burger {
    cursor: pointer;
}
.burger span {
    display: block;
    background: var(--color-2);
    width: 24px;
    height: 2px;
}
.burger span:not(:last-child) {
    margin-bottom: 4px;
}
.topPanel .logo {
    margin: 0 auto 0 90px;
    width: 170px;
    height: 80px;
}
.topPanel .logo img {
    width: 100%;
}
nav.menu {
    margin-right: 50px;
}
.menu ul {
    display: flex;
    align-items: center;
}
.menu ul li:not(:last-child) {
    margin-right: 28px;
}
.menu a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.menu a svg {
    margin-right: 8px;
}
.menu a svg.dropdown {
    margin-left: 8px;
}
/* MainBanner */
.mainBanner {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.mainBanner .swiper {
    height: 100vh;
    border-radius: 0 0 var(--br-3) var(--br-3);

}
.mainBanner .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainBanner .wrapperBlock {
    position: absolute;
    z-index: 9;
    top: 34%;
    max-width: 1050px;
    margin: 0;
    left: 14.5vw;
    right: 0;
    color: #fff;
}
.mainBanner  .title {
    font-family: 'Angst Normal';
    font-size: 118px;
    line-height: 118px;
    margin-bottom: 15px;
}
.mainBanner .link {
    padding: 12px 20px;
    margin-top: 68px;
}
.mainBanner .desc {
    font-size: 30px;
    font-weight: 400;
    font-family: 'HelveticaNeueCyr';
    line-height: 40px;
}
/* HISTORY SECTION */
.historySection {
    padding: 95px 15px 120px;
}
.history {
    display: flex;
    gap: 20px;
}
.historySection .sectionTitle {
    margin-bottom: 35px;
}
.historyWrap {
    display: flex;
    gap: 20px;
    width: 100%;
}
.historyBlock {
    background: #fff;
    width: 25%;
    border-radius: var(--br-0);
    overflow: hidden;
    min-height: 408px;
    position: relative;
}
.historyBlock .image {
    height: 100%;
    position: relative;
}
.historyBlock .image:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: var(--gradient-1);
    position: absolute;
    top: 0;
}
.historyBlockWrap .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.historyBlockWrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    color: var(--color-1);
}

.historyBlock.slider {
    padding: 16px;
}
.historyBlock.slider .swiper-slide {
    height: 175px;
    border-radius: var(--br-1);
    overflow: hidden;
}
.historyBlock.slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.historyBlock.slider .swiper-wrapper {
    -webkit-transition-timing-function:linear!important; 
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important; 
}
.historyBlock.slider .title {
    font-family: 'Angst Normal';
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin: 30px 0 17px;
}
.historyBlock  .link {
    background: var(--color-3);
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
}
.historyBlock.slider .link {
    background: var(--color-2);
}
/* BANNER SECTION */
.banner_big {
    background: linear-gradient(45deg, black, transparent), url(../img/banner-1.png) no-repeat ;
    background-size: cover;
    background-position: 50% 50%;
    height: 584px;
    border-radius: var(--br-3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 60px;
}
.banner_big .bannerTitle {
    font-size: 48px;
    color: var(--color-1);
    font-weight: 400;
    line-height: 52px;
    width: 100%;
    max-width: 650px;
    margin-bottom: 48px;
}
/* EVENTS SECTION */
.evetsSection  {
    padding: 120px 30px;
    display: flex;
    flex-direction: column;
}
.sectionTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.eventsWrap {
    display: flex;
    gap: 24px;
}
.eventsCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.eventsCard .image {
    height: 346px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--br-0);
}
.eventsCard .dates {
    background: var(--color-4);
    border-radius: var(--br-2);
    padding: 9px 5px;
    display: inline-block;
    margin: 16px 0 24px;
}
.eventsCard .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 15px;
}
.eventsCard .link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-5);
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 0;
    margin-top: auto;
}

.link.more {
    background: var(--color-2);
    max-width: 297px;
    width: 100%;
    justify-content: space-between;
    margin: 70px auto 0;
}
/* PROMO SECTION */
.promoSection {
    background: url(../img/banner-2.png) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: var(--br-3);
    
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}
.promoSection .bannerTitle {
    font-family: 'Angst Normal';
    font-size: 80px;
    color: var(--color-1);
    font-weight: 500;
    line-height: 84px;
}
.promoSection .descSection {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: var(--color-1);
    margin: 0 0 auto;
}
/* ROADMAP SECTION */
.road {
    background: var(--color-5);
    display: flex;
    justify-content: space-between;
}
.road img {
    width: 100%;
}
.roadmapSection {
    margin-top: 120px;
    background: var(--color-5);
    border-radius: var(--br-3) var(--br-3) 0 0;
    color: var(--color-1);
    padding: 82px 94px;
}
.roadmapCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.roadmapCard .title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}
.roadmapCard .desc p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.roadmapCard .desc p:not(:last-child) {
    margin-bottom: 15px;
}
.roadmapCard:nth-child(even) {
    flex-direction: row-reverse;
}
.roadmapCard:nth-child(1) .title {
    font-family: 'Angst Normal';
}
.roadmapCard:not(:last-child) {
    margin-bottom: 80px;
}
.roadmapCard .image {
    height: 340px;
    border-radius: var(--br-0);
    overflow: hidden;
}
.roadmapCard .image,
.roadmapCard .about {
    max-width: 555px;
    width: 100%;
}
.roadmapCard  .desc {
    margin-bottom: 40px;
}
.roadmapCard .link.more {
    color: var(--color-4);
    border-radius: 0;
    padding: 0;
    display: inline;
    background: transparent;
    border-bottom: 1px solid;
}
.roadLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 33%;
    right: 16%;
}
.roadLinks a {
    font-weight: 18;
    color: var(--color-4);
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

/* FOOTER */
.footer {
    background: var(--color-6);
    border-radius: var(--br-3) var(--br-3) 0 0;
    margin-top: -30px;
    z-index: 1;
    position: relative;
    padding: 0 30px; 
    color: var(--color-1);
}
.footerTop {
    display: flex;
    align-items: center;
    padding: 47px 0 37px;
    border-bottom: 1px solid rgb(245 244 242 / 20%);
    border-bottom-style: .2;
}
.footer .logo {
    width: 74px;
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
}
.footer .desc {
    color: var(--color-1);
    font-size: 16px;
    font-weight: 400;
    max-width: 242px;
    margin-left: 25px;
    line-height: 20px;
}
.footer .logo img {
    width: 100%;
}

.footerBodyWrap_block a,
.footer .menu a {
    color: var(--color-1);
}
.footer .menu a svg.dropdown {
    stroke: #fff;
}
.footerTop .menu {
    margin: 0 0 0 auto;
}
.footerBody {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
}
.social {
    display: flex;
    gap: 16px;
}
.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-1);
    border: 1px solid var(--color-1);
}

.social a:hover {
    background: transparent;
}

.footer .opacity {
    opacity: .2;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.footerBodyWrap_block:nth-child(1),
.footerBodyWrap_block:nth-child(2),
.footerBodyWrap_block:nth-child(4) {
    width: 327px;
}
.footerBodyWrap_block:nth-child(3),
.footerBodyWrap_block:last-child {
    width: 214px;
}

.footerBodyWrap_block:nth-child(4) {
    margin-left: auto;
}
.footerBodyWrap {
    max-width: 920px;
    width: 100%;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: self-end;
    padding-bottom: 46px;
}

/* MAP */
.map {
    overflow: hidden;
    border-radius: var(--br-4);
}
.ymaps-2-1-79-balloon__layout {
    background: var(--color-2)!important;
    border-radius: 20px;
    padding: 16px;
    width: 500px;
}
.ymaps-2-1-79-balloon__close-button {
    background-color: #fff!important;
}
.ymaps-2-1-79-balloon__content {
    background: transparent!important;
    padding: 0!important;
}
.ymaps-2-1-79-balloon__content ymaps {
    width: 100%!important;
    overflow: unset!important;
}
.ymaps-2-1-79-balloon-content__header img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
ymaps.ymaps-2-1-79-balloon__tail {
    display: none;
}
.mapBulletTitle.h6 {
    font-size: 24px;
    color: var(--color-1);
    font-weight: 500;
    line-height: 32px;
}
.mapBulletText p {
    font-size: 18px!important;
    font-weight: 400;
    color: var(--color-1);
    opacity: 1;
    line-height: 24px;

}
.ymaps-2-1-79-balloon {
    box-shadow: none!important;
}
.ymaps-2-1-79-balloon__close-button {
    width: 30px!important;
    height: 30px!important;
    right: -5px!important;
    position: relative!important;
    border-radius: 50%!important;
}

.tourSlider {
    background: var(--color-2);
    color: var(--color-1);
    border-radius: var(--br-3);
    overflow: hidden;
    padding: 16px;
}
.tourSlider .swiper-wrapper {
    display: flex;
}
.tourSlider .swiper-slide {
    height: auto;
    width: 10%!important;
}
.tourSlider .swiper-slide.swiper-slide-active {
    width: 80%!important;
}
.tourSlider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tourSlider .swiper-slide .image {
    overflow: hidden;
    border-radius: var(--br-0);
}
.sliderBody {
    display: flex;
}
.sliderBody .category {
    background: var(--color-2);
    color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-2);

}
.sliderBodyContent_about {
    display: flex;
}
.sliderBodyContent_about__item {
    display: flex;
    opacity: .7;
}
.sliderBody .title {
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
}
.sliderBody .desc {

}
.sliderBody .more {

}
.sliderBodyContent {
    width: 0;
    opacity: 0;
    position: relative;
    z-index: -1000;
    transition: all 1s ease;
}

.tourSlider .swiper-slide-active .sliderBodyContent {
    width: 100%;
    opacity: 1;
    position: relative;
    z-index: 1
}